<template>
  <div>
    <!-- Muestra el texto dependiendo si se afilió a una aplicacion o no -->
    <div style="margin: 25px">
      <span v-if="isAppSelected()">
        <p>Estas afiliado a <b>{{ this.$store.getters.getApplication.name }}</b></p>
        <p>¿Queres Cambiarlo? Seleccioná otro de la lista!</p>
      </span>
      <span v-if="!isAppSelected()">
        <p>Debes afiliarte a un Producto</p>
        <p>Seleccioná uno de la lista!</p>
      </span>
    </div>
    <ListBox class="centerText" v-model="selectedProd" :options="productsData.products"
            :filter="true" optionLabel="name" listStyle="max-height:150px"
            style="width:15em" @change="onChange($event)">
    </ListBox>
  </div>
</template>


<script>
// Importo un Json estático que luego obtendré via API
import productsData from '../data/products';

export default {
  name: 'Afiliarse',

  data() {
    return {
      selectedProd: null,
      productsData,
    };
  },
  methods: {
    // Seteo en el Store la Aplicacion seleccionada
    // eslint-disable-next-line object-shorthand
    onChange: function (event) {
      console.log('Afiliarse.vue: ');
      console.log(`Selection-event.value.name: ${event.value.name}`);
      console.log(`Selection-event.value.id: ${event.value.id}`);
      // console.log('Selection-event.value.id: ' + event.value.id);
      this.$store.commit('setApplication', event.value);
      // console.log('STORE: getApplication.name' + this.$store.getters.getApplication.name);
    },
    // Determina si se afilió a alguna aplicación
    isAppSelected() {
      // obtengo el objeto application del store
      const app = this.$store.getters.getApplication;

      // El objeto application se inicializa en el Store (nunca es null)
      // verifico que se le haya asignado alguna aplicacion
      if (app.name != null && app.value != null) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style scoped>
  .centerText {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    color: blue;
    max-height: 100px;
    border: 0px;
  }

</style>
