<template>
  <div>

<p> Please enter the emotion code: </p>
    <div id="txtCode"><InputText v-model="code"/> </div>
    <p></p>
    <!-- <span v-if="assertCode()"> -->
    <span v-if="assertCode()">
    <!-- Muestra la Botonera (componente de Prime Vue) de emociones a partir de un JSON -->
    <SelectButton v-model="selectedEmotion" :options="emotionsData.emotions"
      optionLabel="name" >
      <template #option="slotProps" >
        <div style="padding: 1em; width: 110px">
          <label>{{slotProps.option.name}}</label>
          <font-awesome-icon :icon="['far', slotProps.option.id]" size="4x"
            :style="{ color: slotProps.option.color}"/>
        </div>
      </template>
    </SelectButton>
    </span>

    <!-- Se habilita el Boton si se afilio a alguna aplicacion -->
    <div style="margin-top: 30px" >
      <Button label="Enviar" class="p-button-raised p-button-secondary"
        :disabled="!isEmotionSelected()" v-on:click="submitForm()"/>
    </div>
  </div>
</template>

<script>
// Importo un Json estático que luego obtendré via API
import emotionsData from '../data/emotions';


export default {
  name: 'Emocionar',

  methods: {
    // Determina si se afilió a alguna aplicación
    isAppSelected() {
      // obtengo el objeto application del store
      const app = this.$store.getters.getApplication;

      // El objeto application se inicializa en el Store (nunca es null)
      // verifico que se le haya asignado alguna aplicacion
      if (app.name != null && app.id != null) {
        return true;
      }
      return false;
    },

    isEmotionSelected() {
      if (this.selectedEmotion != null) {
        console.log('emotion selected TRUE');
        return true;
      }
      console.log('emotion selected FALSE');
      return false;
    },

    // eslint-disable-next-line object-shorthand
    assertCode() {
      console.log('assertCode()');
      if (this.code.length === 6) {
        return true;
      }
      // Reset the emotion selected
      this.selectedEmotion = null;
      return false;
    },

    submitForm() {
      console.log('Emocionar.submitForm:');
      console.log(this.selectedEmotion.id);
      console.log(`code:  ${this.code}`);
      console.log(`emotion:  ${this.selectedEmotion.id}`);
      // this.$store.dispatch('postEmotion', this.code, this.selectedEmotion.id);
      this.$store.dispatch('postEmotion', this.selectedEmotion.id, this.code);
    },
  },

  data() {
    return {
      selectedEmotion: null,
      emotionsData,
      code: '',
    };
  },
};
</script>
