<template>
  <div class="centerText">
    <font-awesome-icon :icon="['far', 'smile']" size="6x" :style="{ color: 'green'}"/>
    <p>Ingresar el CODIGO de 6 dígitos.</p>
    <p>
      <div>
        <div id="txtCode"><InputText v-model="code" /> </div>
      </div>

      <span v-if="isValidCode">
        <p class="errorColor">El código es inválido.</p>
      </span>

    <div id="btnEnviar" style="margin-top: 20px" >
      <Button label="Enviar" :disabled="isDisabled" v-on:click="submitForm()"/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',

  methods: {
    submitForm() {
      console.log('submitForm() - code: ');
      console.log(this.code);
      this.$store.dispatch('validateCode', this.code)
        .then(() => this.$router.push('/emocionar'))
        .catch(() => {
          this.isValidCode = true;
          console.log('submitForm - catch');
          console.error('There was an error!');
        });
    },
  },

  data() {
    return {
      code: '',
      isValidCode: false,
    };
  },

  computed: {
    isDisabled() {
      return !(this.code.length === 6);
    },
  },
};
</script>

<style scoped>
  .centerText {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 400px;
    color: rgb(136, 122, 122);
  }
  .errorColor {
    color: rgb(241, 4, 4);
  }
</style>
