<template>
    <div class="footer-item">
      Copyright 2019 - Todos los derechos reservados Banco Supervielle S.A.</div>
</template>

<script>
  export default {
    created(){
      console.log('footer.vue - Created()');
    },
    name: 'Footer',
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer-item {
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 2px;
  text-align: center;
  font-family:cursive;
  font-size: 10px;
}
</style>
