<template>
      <nav>
        <div><BR/>EMOTIONAL APP<BR/></div>
      </nav>
</template>
<script>
export default {
  created() {
    console.log('navBar.vue - Created()');
  },
  name: 'NavBar',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  nav {
    text-align: center;
    font-size: medium;
    background-color:rgb(131, 207, 236);
  }

</style>
