
<template>
  <div id="app">
      <NavBar/>
        <router-view/>
      <FooterBar/>
  </div>
</template>

<script>
  import NavBar from './components/nav-bar.vue';
  import FooterBar from './components/footer.vue';

  export default {
    name: 'app',
    components: {
      NavBar,
      FooterBar,
    },
};
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
